.main-banner {
	margin: auto;
	text-align: center;	
}

.main-banner h2 {
	margin-top: 15vh;
	margin-bottom: 40px;
	font-size: 60px;
}

.main-banner p {
	font-size: 20px;
	font-family: 'Interstate Light', sans-serif;
	margin-top: 0px;
}

.relics-pass-status {
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Interstate Light', sans-serif;
}

.under-banner {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 15vh;
	font-family: 'Interstate Light', sans-serif;
	font-size: 20px;
}

.under-banner p {
	margin: 7px;
}