.main-banner {
	margin: auto;
	text-align: center;	
}

.main-banner h2 {
	margin-top: 15vh;
	margin-bottom: 40px;
	font-size: 60px;
}

.main-banner p {
	font-size: 20px;
	font-family: 'Interstate Light', sans-serif;
	margin-top: 0px;
}

.relics-pass-status {
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Interstate Light', sans-serif;
}

.under-banner {
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 15vh;
	font-family: 'Interstate Light', sans-serif;
	font-size: 20px;
}

.under-banner p {
	margin: 7px;
}


.footbar {
	background-color: black;
	overflow: hidden;
	color: white;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding-top: 50px;
	padding-bottom: 100px;
}

.footbar-logos {
	display: flex;
	justify-content: center;
	column-gap: 40px;
}

.footbar-powered-by {
	text-align: right;
	font-family: 'Interstate Light';
	padding-right: 10vw;
}

.footbar svg {
	fill: white;
	height: 60px;
	width: 60px;
}

.relics-pass {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.relics-text-content h2 {
	font-size: 40px;
}

.relics-text-content {
	padding-left: 40%;
	padding-right: 10%;
}

.relics-text-content p {
	margin-top: 75px;
	font-size: 20px;
	font-family: 'Interstate Light', sans-serif;
}

.relics-image {
	padding-left: 10%;
	padding-right: 40%;
}

.relics-image img {
	width: 100%;
	border-radius: 20px;
}

.frequently-asked-questions {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 100px;
}

.frequently-asked-questions h2 {
	font-size: 40px;
	margin-bottom: 40px;
}

.frequently-asked-questions p {
	margin-top: 50px;
	font-size: 25px;
}

.banner-opensea {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.relics-text-content a {
    text-decoration: none;
}

.relics-text-content button {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.footbar {
		grid-template-columns: 1fr;
	}

	.footbar-powered-by {
		text-align: center;
		margin-top: 50px;
		padding-right: 0px;
	}

	.relics-pass {
		grid-template-columns: 1fr;
	}

	.relics-text-content {
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;
	}

	.relics-image {
		padding-left: 10%;
		padding-right: 10%;
	}

	.relics-text-content  {
		margin: auto;
	}
}